.leftNav {
}
.rightNav {
}
.navBar {
  background-color: white;
  margin: 25px 0;
  border-style: outset;
  border-width: initial;
}
.navBar a {
  margin: 0px 10px 20px 0px;
  font-size: 25px;
  font-family: fantasy;
}
